<footer id="contact">
  <h2>Contact Us</h2>
  <p>Get In Touch With Any Inquiries</p>
  <div class="footer-items">
    <div class="footer-item">
      <img src="images/email.svg" alt="Email Icon">
      <p>info@mahmoodmagic.com</p>
    </div>
    <div class="footer-item">
      <img src="images/phone.svg" alt="Email Icon">
      <p>+416 806 9408</p>
    </div>
    <div class="footer-item">
      <img src="images/phone.svg" alt="Email Icon">
      <p>+416 970 9408</p>
    </div>
  </div>
</footer>
