<div class="sidebar">
  <img class="sidebar-logo" src="images/logo-square-light.png" alt="Mahmood Magic Logo">
  <h1 class="sidebar-title">Mahmood Magic</h1>
  <ul class="navigation">
    <li><a data-scroll class="js-smooth-scroll" href="#about">About</a></li>
    <li><a data-scroll class="js-smooth-scroll" href="#why-magic">Why Magic</a></li>
    <li><a data-scroll class="js-smooth-scroll" href="#testimonials">Testimonials</a></li>
    <li><a data-scroll class="js-smooth-scroll" href="#contact">Contact</a></li>
  </ul>
</div>
