.testimonial {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 40px 0 0;

  .testimonial-content {
    padding: 0 40px;

    @include media-query($mq-palm) {
      padding: 0;
    }
  }

  @include media-query($mq-palm) {
    padding: 170px 60px;
    background-size: cover;
  }

  em {
    font-weight: bold;
  }
}

.testimonial-image {
  display: block;
  margin-bottom: 40px;

  @include media-query($mq-palm) {
    display: none;
  }
}

.testimonial--one {
  @include media-query($mq-palm) {
    background-image: url('../images/testimonial-01.jpg');
    background-position: center;
  }
}

.testimonial--two {
  @include media-query($mq-palm) {
    background-image: url('../images/testimonial-02.jpg');
    background-position: center;
  }
}

.testimonial--three {
  @include media-query($mq-palm) {
    background-image: url('../images/testimonial-03.jpg');
    background-position: center;
  }
}

.testimonial--four {
  @include media-query($mq-palm) {
    background-image: url('../images/testimonial-04.jpg');
    background-position: center;
  }
}

.testimonial--five {
  @include media-query($mq-palm) {
    background-image: url('../images/testimonial-05.jpg');
    background-position: center;
  }
}

.testimonial--six {
  @include media-query($mq-palm) {
    background-image: url('../images/testimonial-06.jpg');
    background-position: center;
  }
}

.testimonial--seven {
  @include media-query($mq-palm) {
    background-image: url('../images/testimonial-07.jpg');
    background-position: center;
  }
}

.testimonial--eight {
  @include media-query($mq-palm) {
    background-image: url('../images/testimonial-08.jpg');
    background-position: center;
  }
}

.testimonial--nine {
  @include media-query($mq-palm) {
    background-image: url('../images/testimonial-09.jpg');
    background-position: center;
  }
}

.testimonial--ten {
  @include media-query($mq-palm) {
    background-image: url('../images/testimonial-10.jpg');
    background-position: center top;
  }

  padding-bottom: 40px;
}

.testimonial-content {
  font-size: 0.9rem;
  position: relative;
  z-index: 1;
  display: inline-block;

  @include media-query($mq-palm) {
    color: white;
    max-width: 550px;
  }
}

.testimonial-author {
  display: block;
  margin-top: 1rem;
  font-size: 0.8rem;
}

.testimonial-description {
  display: block;
  opacity: 0.6;
  font-size: 0.8rem;
}


.testimonial--right {
  @include media-query($mq-palm) {
    text-align: right;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient( to left, rgba(0,0,0,1), rgba(0,0,0,0));
      z-index: 0;
    }
  }
}

.testimonial--left {
  @include media-query($mq-palm) {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient( to right, rgba(0,0,0,1), rgba(0,0,0,0));
      z-index: 0;
    }
  }
}
